<!DOCTYPE html>
<html>
  <head>
    <title>Hrascheri</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div class="container">
  		<% if  !user_signed_in? %>
  		<% else %>  
  			<%= render 'layouts/navbar' %>
		<% end %>
		  
  	</div>
  	
  	<div class="container">  		
  		<div class="msg">
			<%= render 'shared/messages' %>
		</div>
    <%= yield %>
    </div>
  </body>
</html>
